<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuch1k1n.tanshu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tanshu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tanshu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="初始化偏好" />
        <activity
            android:name=".MainActivity"
            android:label="探书" />
        <activity
            android:name=".BookDetailActivity"
            android:label="图书详情" />
        <activity
            android:name=".BookCollectedActivity"
            android:label="@string/title_activity_book_collected" />
        <activity
            android:name=".BuyActivity"
            android:label="购买图书" />
    </application>

</manifest>